* {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  margin: 0px;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0px 15px;
  padding: 0px 15px;
}

header,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body */

body {
  color: var(--text-color);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: var(--font-size-md);
  line-height: 110%;
}

#homepage h1 {
  font-family: var(--font-heading-article);
  font-weight: 700;
  font-size: var(--font-size-h1);
  margin-bottom: 45px;
}

#homepage h2 {
  font-family: var(--font-heading-article);
  font-weight: 700;
  font-size: var(--font-size-h2);
  color: var(--primary-color);
  margin-bottom: 36px;
}

h1 {
  font-family: var(--font-heading-article);
  font-weight: 700;
  font-size: var(--font-size-h1);
  color: var(--secondary-color);
  line-height: 120%;
}

h2 {
  font-family: var(--font-size-h2);
  font-weight: 600;
  font-size: var(--font-size-h2);
  color: var(--primary-color);
  line-height: 120%;
}

h3 {
  font-family: var(--font-heading-article);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: var(--accent-color);
  margin-bottom: 36px;
}

.icon-headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  a {
    font-family: var(--font-heading-article);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 40px;
    padding: 16px 60px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
  }
  a:hover {
    text-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
  }
}

.primary-button-outline {
  a {
    font-family: var(--font-heading-article);
    color: var(--text-color);
    background: transparent;
    border-radius: 40px;
    border: 1px solid #3d3d3d;
    padding: 16px 60px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
  }
  a:hover {
    text-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
  }
}

a.text-button {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.secondary-button {
  a {
    font-family: var(--font-heading-article);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 16px 60px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
  }
  a:hover {
    text-shadow: var(--shadow-md);
    box-shadow: var(--shadow-md);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Laptop */
@media screen and (max-width: 1279px) {
}

/* Tablet */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
}

/* Smartphone */
@media screen and (max-width: 480px) {
}
