/* #region header */

header {
  width: 100%;
  background-color: var(--primary-color);

  .content {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-lg);
    align-items: center;
  }

  a {
    display: inline-block;
    height: 100%;
    line-height: 0px;
  }

  img {
    box-sizing: content-box;
    height: 72px;
    width: 72px;
    padding-right: 73px;
  }
}

/* #endregion header */

/* #region Menü */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  padding: var(--spacing-md) var(--spacing-xl);
  font-family: "Arima";
  font-weight: 700;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: var(--secondary-color);
  background: url(../assets/img/menu-active-line.svg) no-repeat center bottom /
    contain;
}

/* #endregion */

/* #region Hero */

.hero {
  width: 100%;

  .content {
    background: url(../assets/img/hero-cappadocia.jpg) no-repeat center right /
      auto 100%;
    border-bottom: 30px solid #fff;
    height: 574px;
    padding: 0px;
  }

  .text-area {
    position: relative;
    height: 574px;
    display: flex;
    align-items: center;
    animation: hero-move 2s forwards;

    .text {
      padding-left: 100px;
      width: 425px;
      z-index: 2;
    }
    h1 {
      color: var(--primary-color);
    }

    p {
      font-size: 28px;
      line-height: 110%;
    }

    .yellow-area {
      background: url(../assets/img/hero-bg.png) no-repeat right center / auto
        100%;
      height: 574px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 65%;
    }
    .spin {
      position: absolute;
      top: 50%;
      right: 0%;
      height: 160px;
      width: 160px;
      transform: translate(-50%, -50%);
    }

    .spin img.kreis {
      animation: spinning 5s linear infinite;
    }

    .spin img.flag {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-26%, -31%);
    }
  }
}
@keyframes hero-move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.highlights-section {
  text-align: center;
  padding: 100px 0px;

  p {
    padding: 0px 100px 0px 100px;
  }

  .headline-rocket::before {
    content: url("../assets/icons/rocket-icon.png");
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    color: var(--secondary-color);
  }
}
/* #endregion */

/* #region Slider */

.slider_a {
  position: relative;
  width: 100%;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  flex-direction: row;
  border-top-right-radius: 50px;
  margin: 50px 0px;
}

.slider_a input {
  z-index: 2;
  margin: 50px 2px;
}

.slider_a_wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
  left: 0px;
}

.slider_a_element {
  width: calc(100% / 4);
  height: 100%;
}

.element_one {
  background: url(../assets/img/top-beach-destinations-1.jpg) no-repeat center
    center / cover;
}

.element_two {
  background: url(../assets/img/top-beach-destinations-2.jpg) no-repeat center
    center / cover;
}

.element_three {
  background: url(../assets/img/top-beach-destinations-3.jpg) no-repeat center
    center / cover;
}

.element_four {
  background: url(../assets/img/top-beach-destinations-4.jpg) no-repeat center
    center / cover;
}

.slider_a input[value="one"]:checked ~ .slider_a_wrapper {
  transform: translateX(0);
}

.slider_a input[value="two"]:checked ~ .slider_a_wrapper {
  transform: translateX(-25%);
}

.slider_a input[value="three"]:checked ~ .slider_a_wrapper {
  transform: translateX(-50%);
}
.slider_a input[value="four"]:checked ~ .slider_a_wrapper {
  transform: translateX(-75%);
}

.slider_a input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.slider_a input[type="radio"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50%;
  margin: 30px 5px;
  transition: all 0.2s ease-in-out;
}

.slider_a input[type="radio"]:checked {
  background-color: var(--secondary-color);
  width: 38px;
  border-radius: 30px;
}

.slider-content {
  backdrop-filter: blur(20px);
  width: 70%;
  margin: 5% 25% 5% 5%;
  padding: 30px;
}

.slider-content h4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  color: #fff;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 10px;
}

.slider-content p {
  color: #fff;
  font-size: var(--font-size-lg);
  line-height: 110%;
  font-weight: 400;
}

/* #endregion */

/* #region FAQ */

.faq-section {
  padding-top: 60px;
}

.headline-question::before {
  content: url("../assets/icons/icon-faq.png");
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: var(--secondary-color);
}
.headline-question {
  text-align: center;
}

.accordion {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.accordion-item {
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin: 30px 0px;
  padding: 15px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  background-color: var(--secondary-color);
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.icon {
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 15px;
}

.accordion-content p {
  font-size: 20px;
  line-height: 1.5;
}

.accordion-item input {
  display: none;
}

.accordion-item input:checked ~ .accordion-content {
  max-height: 200px;
  padding: 12px 16px;
}

.accordion-item input:checked + .accordion-header .icon {
  transform: rotate(180deg);
}
/* #endregion */

/* #region Contact Form */

.contact-form {
  margin-top: 100px;
}

.contact-contentbox {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  p {
    text-align: center;
    max-width: 800px;
    margin-bottom: 60px;
  }
}

.headline-contact::before {
  content: url("../assets/icons/person_pin.png");
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: var(--secondary-color);
}
.headline-contact {
  text-align: center;
}

form input {
  border: none;
  border-bottom: 1px solid black;
}

.help textarea {
  border: none;
  border-bottom: 1px solid black;
}

.form-halb {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 60px;
}

.name label,
.name input {
  width: 100%;
}

.email label,
.email input {
  width: 100%;
}

.help label,
.help textarea {
  width: 100%;
  display: block;
}

.checkbox {
  font-size: 15px;
  text-align: center;

  a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
  }
  a:hover {
    font-weight: 600;
  }
}

.contact-form .primary-button-outline {
  text-align: center;
  margin: 80px 0px 100px 0px;
}
/* #endregion */

/* #region artikel */

.article-intro {
  margin-top: 60px;
}

.article-intro .content {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro-text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
}

.intro-text p {
  text-align: left;
  font-size: var(--font-size-xl);
  line-height: 120%;
  margin-bottom: 40px;
}

.article-feature {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: var(--font-size-sm);
  align-items: center;
  flex-wrap: wrap;
}

.article-feature div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.autorenbox {
  width: 272px;
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcede7;
  padding: 35px 16px;
  border-radius: 30px;
  line-height: 120%;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 272px;
}
.autorenbox .autorentitel {
  font-size: 18px;
  font-family: var(--font-heading-article);
  text-align: center;
  margin: 15px 0px;
}

.autorenbox .autorentitel span {
  font-weight: 700;
}

.beaches-list ul li::marker {
  font-size: 12px;
}

/* #endregion */

/* #region Carousel */

.carousel-wrapper {
  height: 440px;
  display: flex;
  flex-direction: row;
  margin: 50px 100px;
}

.carousel-element {
  z-index: 1;
  height: 80%;
  width: 300px;
  background-color: blue;
  transform: perspective(250px) rotateY(20deg) translateX(-20px);
  transform-origin: 50% 50%;
  box-shadow: -9px 5px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.carousel-element:hover {
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
  z-index: 2;
}
.carousel-element:hover ~ .carousel-element {
  transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.carousel input[value="one"]:checked ~ .carousel-wrapper {
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
  z-index: 2;
}

.carousel input[value="two"]:checked ~ .carousel-wrapper {
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
  z-index: 2;
}

.carousel input[value="three"]:checked ~ .carousel-wrapper {
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
  z-index: 2;
}

.carousel input[value="four"]:checked ~ .carousel-wrapper {
  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
  z-index: 2;
}

.carousel-one {
  background: url(../assets/img/top-beach-destinations-1.jpg) no-repeat center
    center / cover;
}

.carousel-two {
  background: url(../assets/img/top-beach-destinations-2.jpg) no-repeat center
    center / cover;
}

.carousel-three {
  background: url(../assets/img/top-beach-destinations-3.jpg) no-repeat center
    center / cover;
}

.carousel-four {
  background: url(../assets/img/top-beach-destinations-4.jpg) no-repeat center
    center / cover;
}

.carousel-five {
  background: url(../assets/img/top-beach-destinations-5.jpg) no-repeat center
    center / cover;
}

/* #endregion */

/* #region Top Beaches  */
.top-beaches {
  margin-top: 100px;
}

.top-beaches h3 {
  text-align: center;
}

.top-beaches p {
  margin: 80px 0px 40px 0px;
}
.beaches-list {
  padding: 0px 100px;
  align-items: flex-start;
}
.beaches-list p {
  margin: 40px 0px;
  text-align: left;
}

.beaches-list ol {
  margin: 0px 30px;
}
.beaches-list li {
  margin: 5px 0px;
}

.pro-tipps {
  background-color: #dcede7;
  padding: 20px 10px 10px 10px;
  border-radius: 30px;
  position: relative;
  margin: 80px 0px;
}
.pro-tipps .pro-badge {
  position: absolute;
  left: -44px;
  top: -50px;
  transform: rotate(-13deg);
}

.share-button::before {
  content: url("../assets/icons/share.png");
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  fill: var(--secondary-color);
}
/* #endregion */

/* #region follow-me */

.follow-me {
  margin-bottom: 50px;
  position: relative;
  max-width: 460px;
  align-items: center;
}

.follow-me .arrow {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.follow-me p {
  font-family: var(--font-heading-article);

  text-align: center;
}

.follow-me .secondary-button a {
  display: flex;
  align-items: center;
}

/* #endregion */

/* #region Footer */

footer {
  background-color: var(--primary-color);
  padding: 60px 0px;

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .footer-logo-menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: var(--font-size-sm);
    color: #fff;

    a {
      text-decoration: none;
    }
    a:hover {
      font-weight: 600;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .copyright {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

/* #endregion */

/* #regio article 3 */

.graph-box {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  gap: 50px;
}

.graph-box p {
  margin: 0px;
}

.graph-box h3 {
  margin-top: 50px;
}

.graph-box img {
  margin-top: 30px;
  border-radius: 53px;
  box-shadow: var(--shadow-md);
  max-width: 100%;
}

.graph-box-half {
  width: 50%;
}

/* responsive menu */

.mobile-menu {
  display: none;
  background: var(--secondary-color);
  width: 100%;
  position: fixed;
  bottom: 0px;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--spacing-lg);
  }

  li {
    list-style-type: none;
  }
}

/* #region responsive menu */

.mobile-menu {
  display: none;
  background: var(--secondary-color);
  width: 100%;
  position: fixed;
  bottom: 0px;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--spacing-lg);
  }

  li {
    list-style-type: none;
  }
}
/* #endregion */

/* Laptop */
@media screen and (max-width: 1279px) {
  .content {
    max-width: 1279px;
  }

  .hero {
    .content {
      background-position: right -265px center;

      .text-area {
        .text {
          padding-left: 20px;
        }

        .text p {
          max-width: 18ch;
        }
      }

      .yellow-area {
        width: 75%;
      }
    }
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }

  header {
    nav {
      display: none;
    }

    .content {
      justify-content: center;
      padding: var(--spacing-sm);
    }

    img {
      padding: 0px;
    }
  }

  .mobile-menu {
    display: block;
  }

  .hero {
    .content {
      background-position: right -265px center;

      .text-area {
        .text {
          padding-left: 20px;
        }

        .text p {
          font-size: 20px;
          max-width: 20ch;
        }

        .yellow-area {
          width: 80%;
        }
      }
    }
  }

  footer {
    padding: 28px 0px 118px 0px;

    .footer-logo-menu {
      width: 100%;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 10px;
    }

    .social-links {
      align-items: flex-end;
      gap: 16px;
    }
  }

  .beaches-list {
    padding: 0px 10px;
  }
  .graph-box {
    flex-direction: column;
  }
  .graph-box-half {
    width: 100%;
  }

  .autorenbox {
    width: 100%;
    flex-basis: auto;
  }
}

/* Responsive hero */
@media screen and (max-width: 580px) {
  .hero {
    .content {
      background-position: right -372px center;
      height: 700px;

      .text-area {
        .yellow-area {
          top: -18%;
          bottom: initial;
          background-size: auto 65%;
          left: -18%;
        }

        .text {
          display: none;
        }

        .spin {
          top: 80%;
        }
      }
    }
  }
}

/* Smartphone */
@media screen and (max-width: 480px) {
  .content {
    max-width: 480px;
    min-width: 320px;
    padding: 0px 20px;
  }

  .hero .content {
    overflow-y: hidden;
  }

  .form-halb {
    flex-direction: column;
  }

  .hightlights-intro {
    display: none;
  }
  .accordion-item {
    font-size: var(--font-size-sm);
    margin: 15px 0px;
  }
  .accordion-content p {
    font-size: var(--font-size-sm);
  }

  .contact-intro {
    display: none;
  }
  .contact-form label {
    font-size: var(--font-size-lg);
    margin-bottom: 50px;
  }
  .contact-form .name input,
  .contact-form .email input {
    margin-top: 50px;
  }
  .checkbox {
    margin-top: 20px;
  }
  footer .footer-logo-menu {
    gap: 5px;
  }

  .article-feature {
    gap: 10px;
  }

  .slider-content {
    width: 90%;
    margin: 5%;
    padding: 30px;
  }

  .slider-content h4 {
    font-size: var(--font-size-lg);
  }

  .slider-content p {
    font-size: 20px;
  }
  .pro-tipps .pro-badge {
    top: -65px;
    left: 0px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .content {
    max-width: 1280px;
  }
}
