* {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  margin: 0px;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

header,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body */

body {
  color: var(--text-color);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: var(--font-size-md);
}

/* header */

header {
  width: 100%;
  background-color: var(--primary-color);

  .content {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-lg);
    align-items: center;
  }

  a {
    display: inline-block;
    height: 100%;
    line-height: 0px;
  }

  img {
    box-sizing: content-box;
    height: 72px;
    width: 72px;
    padding-right: 73px;
  }
}

/* Menü */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  padding: var(--spacing-md) var(--spacing-xl);
  font-family: "Arima";
  font-weight: 700;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: var(--secondary-color);
  background: url(../assets/img/menu-active-line.svg) no-repeat center bottom /
    contain;
}




















/* responsive menu */

.mobile-menu{
    display:none;
    background:var(--secondary-color);
    width:100%;

    ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:var(--spacing-lg);
    }

    li{
        list-style-type: none;
    }
}




/* Smartphone */
@media screen and (max-width: 480px) {
  .content {
    max-width: 480px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }

  header {
    nav {
      display: none;
    }
    .content {
      justify-content: center;
      padding: var(--spacing-sm);
    }

    img {
      padding: 0px;
    }
  }
  .mobile-menu{
    display:block;
  }
}

/* Laptop */
@media screen and (max-width: 1279px) {
  .content {
    max-width: 1279px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .content {
    max-width: 1280px;
  }
}
